body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #222;
    padding: 15px 0;
}

.logo {
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.logotip {
    width: 370px;
    height: 80px;
}

.navig {
    margin-left: auto;
    margin-right: 20px;
}

nav ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 25px;
}

nav ul li a:hover {
    color: red;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

main {
    padding: 40px 0;
}



footer {
    background-color: #222;
    text-align: center;
    padding: 15px 0;
    color: white;
    font-size: 14px;
}





